
.navbar-brand{
    font-family: "Lobster Two", sans-serif;
    transform:rotate(-5deg);
    font-weight: 800;
    font-style: italic;
    margin-left:20px ;
    margin-right:50px;
    width:100px;
    height: 60px;
    margin-top:15px;  
    letter-spacing: 2px;
    

} 



.search-bar {
  width: 100%;
  max-width: 700px;
}

.search-form {
  position: relative;
  width: 100%;
}


.search-input {
  width: 100%;
  height: 64px;
  padding: 0 70px 0 28px;
  border-radius: 999px;
  border: none;
  background: #f5f5f7;
  font-size: 16px;
  outline: none;
}


.search-input::placeholder {
  color: #555;
}


.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: #ea4c89;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.search-btn i {
  color: #fff;
  font-size: 16px;
}

.search-btn:hover {
  background-color: #ec5e95;
}

.navbar{
  background-color: #fff;
}


.nav-item{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin:5px;
  
}

.nav-item dropdown{
  margin:50px;
  font-weight:500px;

}
.nav-link{
  color: black;
  margin-right: 10px;
}



.d-flex{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right:10px;
}
.bold-on{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
  font-weight: 600;
  font-size:14px;

}
.first-half{
  margin-left: 2%;

}

.headline h1{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 600;
  width: 900px;
  font-stretch: expanded;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.semi-headline h2{
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

.buttons-headings{

  text-align: left;
}
.search-bar{
  margin-top:10px;
  width: 100%;

}
.form-control{
  border-radius: 30px;
  height:60px;
  border: 1px solid plum;
}
.search-button{ 
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-items:center;
  margin-top: 10px;  
 
  background-color: #ea4c89;
  border: 0px solid white;
}
.search-button.hover{
  background-color: #ec5e95;

}

.heading-video-card{
  position: relative;
  width: 100%;
  height: 400px;          
  border-radius: 24px;
  overflow: hidden;
       
}

.heading-video-card video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.heading-video{
  margin-top:25px;
}
.item-buttons{
  margin-top: 15px;
  text-align: left;
}

.popular-button{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 30px;
  background-color: #fff;
  border:1px #A9A9A9 solid;
  transition: background-color 0.3s ease;
}
 .popular-button:hover{
  background-color:#D3D3D3;
  border:1px  solid;

}

.alert-link{
  background-color: #f8f8fc;
  width: 90%;
  margin-left: 40px;
  padding: 15px;
  font-size: 15px;
  margin-top: 30px;
  
  
}
.lines{
  font-weight: 400;
}

.button-badge-wrapper{
  position: relative;
  display:inline-block;

}
.popular-button-1 {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px #A9A9A9 solid;
  font-weight: bold;
}
.popular-pink-design{
  position:absolute;
  top:-8px;
  right:-10px;

  background-color: palevioletred;
  color: #fff;
  font-size: 10px;
  font-weight: bold;

  padding: 2px 7px;
  border-radius: 20px;
}
.card{
  position: relative;
  width: 458px;
  margin-left: 20px;
  height:400px;
}
.Card-Designs img{
  border-radius: 10px;
}
.card-resize{
  height: 350px;
  width: 450px;
}


.heading-video-card {
  overflow: hidden;
}

video {
  border-radius: 20px;
}


.item-buttons{
  margin-left:15px ;
}

.button-under-star .dropdown-toggle{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
   border: 1px solid #D3D3D3 ;
   border-radius: 30px;
   margin-right: 20px;
}

.filter-button{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 80px;
  border: 1px solid #D3D3D3 ;
  border-radius: 30px;
}
.center{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 2%;
  border: 1px solid #D3D3D3 ;
  border-radius: 30px;
    font-size: 15px;
  font-weight: 550;

}
.button-under-star{

  margin-left: 2%;
    font-size: 15px;
  font-weight: 500;
}

.Card-Designs{
  margin-top:20px;
  width: 97%;
  margin-left: 2%;
}

.text-center{
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  
}

/* overflow: hidden cuts them off cleanly  */
.marker{
  padding: 50px;
  padding-bottom: 100px ;
  overflow: hidden;
  width: 100%;

}

.track {
  display: flex;
  gap: 20px;
  animation: scroll 10s linear infinite;
}

.track img {
  width: 250px;
}

@keyframes scroll {
  from 
  { transform: translateX(0); }

  to 
  { transform: translateX(-50%); }
}

.navbar-bottom{
  margin-bottom:90px ;
}

.icons{
  margin-left:80px;
}

.icons i{
  color: black;
  margin-left: 2px;
}
.footer-below span{
  padding: 10px;
}
.badge{
  background-color: #A9A9A9;
  color: white;
  font-weight: bold;
  margin-left:5px;
}

.heart_eyes_icons{
  margin-left:22%;
  padding-left:5px ;
}
.fa-eye {
  margin-left: 5px ;
}

.cross {
  position: absolute;
  top: 20%;
  right: 20px;
  transform: translateY(25%);
}
.semi-headline{
  margin-bottom:50px ;
}



.project-brief-alert {
  background: #f9f9fb;
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 24px;
  width: 96%;
  margin-left: 35px;
}


.project-brief-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}


.button-badge-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}


.project-btn {
  border-radius: 999px;
  border: 1px solid #ddd;
  background: #fff;
  font-weight: 600;
  padding: 8px 16px;
}

.project-btn i {
  color: #b197fc;
  margin-right: 6px;
}


.new-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ff5c8d;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 999px;
}


.project-text {
  color: #555;
  font-size: 14px;
}


.category-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 95.5%;
  margin-left: 40px;
}


.pill-btn {
  border-radius: 999px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 6px 14px;
  font-weight: 500;
}


.pill-btn.active {
  font-weight: 600;
}


.filter-btn {
  margin-left: auto;
}

.to_center_them{
  margin-left: 8%;
}


.card,
.card-img-top {
  max-width: 94%;
  width: 100%;
}

.card-img-top {
  height: auto;
  display: block;
}


@media (max-width: 576px) {
  .card-body img.rounded-circle {
    margin-left: 0;
  }
}



.image-hover-wrapper {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
 
}

.card-resize {
  width: 100%;
  display: block;
}


.image-hover-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 2;
}


.image-hover-icons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 2;
}


.icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-btn i {
  color: #000;
  font-size: 16px;
}


.image-hover-wrapper:hover .image-hover-text,
.image-hover-wrapper:hover .image-hover-icons {
  opacity: 1;
}
