body{
    background-color:#CBEDD5;
 }
 /* hr{
    border: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
 } */
 h1{
   color:#439A97 ;
 }
 h2{
    color:#357573 ;
   }  